.home {
  max-width: 1500px;
  margin: 0 auto;
}

.home__banner {
  min-height: 70vh;
  background-image: url('https://m.media-amazon.com/images/G/42/digital/video/Magellan_MLP/BRND_MTH22_PVMagnetLeft_1440x675_Final_noLocale_PVD8198.jpg');
  background-position: right top;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 32%,
    rgba(0, 0, 0, 0) 103%
  );
  margin-bottom: -25px;
  /* z-index: -1; */
}

.home__row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0 10px;
  justify-content: center;
  gap: 10px;
}
