.login {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  height: 100vh;
}
.login__logoContainer {
  text-align: center;
  margin-bottom: 30px;
}
.login__logo {
  width: 100px;
  object-fit: contain;
  margin-bottom: 30px;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 600px;
  min-width: 300px;
  padding: 20px;
  border: 1px solid #b4b4b4;
}

.login__title {
  margin-bottom: 20px;
}

.login__inputContainer {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.login__inputLabel {
  font-weight: bold;
}
.login__input {
  padding: 5px;
}
.login__button {
  background: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 7px 0;
  cursor: pointer;
}

.login__info {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.login__createAccountButton {
  background: whitesmoke;
  border: 1px solid #e5e5e5;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 7px 0;
  cursor: pointer;
}

.login__error {
  padding: 10px;
  color: red;
}
.login__success {
  padding: 10px;
  color: green;
}
